*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --g:   #64d97b;
  --g2:  rgba(100, 217, 123, 0.15);
  --g3:  rgba(100, 217, 123, 0.07);
  --g4:  rgba(100, 217, 123, 0.25);
  --bg:  #111318;
  --bg2: #0e1016;
  --bg3: #1c1f26;
  --t:   rgba(255, 255, 255, 0.85);
  --t2:  rgba(255, 255, 255, 0.40);
  --t3:  rgba(255, 255, 255, 0.18);
  --bdr: rgba(255, 255, 255, 0.06);
}

html,
body {
  height: 100%;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background: var(--bg);
  color: var(--t);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  padding: 0;
}
